# Mini Project

Adapun beberapa hal yang dipelajari pada program pelatihan Data Analitics With Python pertemuan ke-4 ini adalah sebagai berikut:

* Penggabungan data menggunakan 3 file dibawah ini: [(download data disini)](https://jne2-my.sharepoint.com/personal/ibnu_falah_jne_co_id/_layouts/15/onedrive.aspx?id=%2Fpersonal%2Fibnu%5Ffalah%5Fjne%5Fco%5Fid%2FDocuments%2FData%20for%20P%27%20Bakti&ga=1). 
    1. OTS ARAP UPDATE 30092022.XLSX; 
    2. OTS CURRENT 2022 UPDATE 30092022.XLSX; 
    3. OTS CURRENT 2022 UPDATE 30092022 PART 2.XLSX)
* Pemerikasaan Data Duplikat (Nomor connote apakah ada yang double)
* Pemerikasaan Anomaly.
* Memeriksa Data ots yang nilai nya minus
* Analisa nilai outstanding yang tinggi berdasarkan Regional – Cabang – Kurir.
* Data outstanding diurutkan berdasarkan nama customer – Dest Runsheet
* Outstanding berdasarkan Kurir / ID Kurir (data kurir dapat dilihat di file ID Kurir.XLSX)

## Impor Data

Dalam proses impor (baca) data dari Excel ke Python, beberapa hal yang harus diperhatikan adalah:

1. Pastikan Notebook Python (Koding) anda berada dalam satu folder
2. Buatlah folder baru untuk meyimpan data tersebut (opsional) 
3. Nama file excel tidak memuat spasi (gunakan underline `_` jika diperlukan). Dalam hal ini, penulis merubah nama variabel menjadi OTS1, OTS2, dan OTS3.
4. impor packages/Library/Module yang diperlukan (dalam hal ini digunakan 'pandas')

In [34]:
import pandas as pd              # library untuk impor data
f1 = pd.read_excel('data/Mini_Project/OTS1.xlsx') 
f2 = pd.read_excel('data/Mini_Project/OTS2.xlsx') 
f3 = pd.read_excel('data/Mini_Project/OTS3.xlsx')

Berikutnya dilakukan pemerikasan struktur data dan informasi dasar pada dataset.

In [39]:
f3.info()                        # print struktur dan informasi dasar

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 546785 entries, 0 to 546784
Data columns (total 10 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Unnamed: 0   546785 non-null  object
 1   Unnamed: 1   546785 non-null  object
 2   Unnamed: 2   546785 non-null  object
 3   Unnamed: 3   546785 non-null  object
 4   68906809805  546785 non-null  object
 5   Unnamed: 5   546785 non-null  object
 6   Unnamed: 6   546785 non-null  object
 7   Unnamed: 7   546785 non-null  object
 8   Unnamed: 8   546785 non-null  object
 9   68906264744  546785 non-null  object
dtypes: object(10)
memory usage: 41.7+ MB

Berdasarkan pengamatan yang dilakukan pada ke-3 file dataset di atas, diperoleh beberapa catatan sebagai berikut:

1. Struktur data belum jelas karena nama variabel (kolom) pada file excel tidak ada pada baris pertama
2. Data pada `OTS1.xlsx` tidak dapat terbaca dengan baik di Python. Langkah penyelesaian permasalahan ini adalah dengan cara `Copy-Paste` file tersebut ke file excel yang baru dan replace (menimpa) file yang lama. 
3. Nama variabel (kolom) pada baris pertama belum sesuai (tidak sama).
4. Banyak kolom tidak sama.

**Catatan:** Jika tidak ingin menghapus baris pertama dari file Excel maka dapat dilakukan dengan parameter `skiprows=1`. Selain itu, anda juga dapat menggunakan parameter `header=2` untuk menunjukan nama variabel ada pada  baris ke-2. Terlebih daripada itu, jika anda ingin melewati baris pada indeks 0, 2 dan 5 dapat menggunakan `skiprows=[0,2,5]`

In [ ]:
import pandas as pd              # library untuk impor data
f1 = pd.read_excel('data/Mini_Project/OTS1.xlsx',skiprows=1, usecols='A:I, K') 
f2 = pd.read_excel('data/Mini_Project/OTS2.xlsx',header=1) 
f3 = pd.read_excel('data/Mini_Project/OTS3.xlsx',header=1)

## Konversi Format File

Saat mengerjakan proyek analitik data dengan jumlah pengamatan yang banyak, proses menyimpan dan memuat kembali data ke dalam memori menjadi lebih lambat, dan setiap kali anda melakukan restart pada kernel akan membutuhkan waktu tunggu yang cukup lama. Sehingga, sangat disarankan untuk menyimpan data dengan format terbaik. Menurut **Ilia Zaitsev** di dalam artikelnya pada laman [Towards Data Science](https://towardsdatascience.com/the-best-format-to-save-pandas-data-414dca023e0d) file EXCEL atau CSV atau format teks biasa lainnya bukanlah pilihan yang baik. Ini terbukti dari proses loading data pada ke-3 file Excel diatas **membutuhkan kurang lebih 3 menit untuk ukuran file 64 Mb**. Sehingga, untuk mempercepat proses loading data ini maka dilakukan proses penyimpanan data dengan format `feather`.

In [28]:
# jangan lupa `pip isntall pyarrow`

f1.to_feather('data/Mini_Project/OTS1.ftr')                  # data frame f1 ke `OTS1.ftr`
f2.to_feather('data/Mini_Project/OTS2.ftr')                  # data frame f2 ke `OTS2.ftr`
f3.to_feather('data/Mini_Project/OTS2.ftr')                  # data frame f1 ke `OTS1.ftr`

## Gabungkan Data

Setelah meyimpanan data dengan format `feather`, selanjutnya dilakukan proses penggabungan data.

In [40]:
import pandas as pd 
ftr1=pd.read_feather('data/Mini_Project/OTS1.ftr')           # impor data 
ftr2=pd.read_feather('data/Mini_Project/OTS2.ftr')           # impor data 
ftr3=pd.read_feather('data/Mini_Project/OTS2.ftr')           # impor data 

datagabung = pd.concat([ftr1,ftr2,ftr3],ignore_index=True)   # gabungkan semua data
datagabung.info()                                            # informasi dasar

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1312227 entries, 0 to 1312226
Data columns (total 10 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   Connote No     1312227 non-null  object
 1   Order Id       1211622 non-null  object
 2   Origin         1312227 non-null  object
 3   Dest Runsheet  1312227 non-null  object
 4   Amount         1312227 non-null  int64
 5   Project        1312227 non-null  object
 6   POD Status     1312227 non-null  object
 7   Customer Name  1312227 non-null  object
 8   Regional       1312227 non-null  object
 9   OUTSTANDING    1312227 non-null  float64
dtypes: float64(1), int64(1), object(8)
memory usage: 100.1+ MB

## Deskripsi Data  

Berikut ini adalah deskripsi dataset yang sedang digunakan:

* `Connote` : No Nomor yang diberikan oleh Seller/Penjual berguna untuk melacak sejauh mana proses pengiriman
* `Order Id` : No Resi Pengiriman          
* `Origin` :  Asal barang yang akan dikirimkan           
* `Dest Runsheet` : Tujuan pengiriman      
* `Amount` : Biaya Pengiriman           
* `Project` : Jenis Project          
* `POD Status` :  Process On delivery Detail adalah Paket atau barang sedang atau baru saja dikirimkan oleh kurir.   
* `Customer Name`: Nama Pelanggan       
* `Regional` : Regional          
* `Kategori` :  Kategori           
* `OUTSTANDING` : Biaya pengiriman yang terverifikasi

**Catatan:** Data gabungan tersebut disimpan dengan format `feather`, sehingga untuk selanjutnya data ini yang akan di impor pada saat melakukan analisis.

In [41]:
datagabung.to_feather('data/Mini_Project/datagabung.ftr')    # data frame f1 ke `OTS1.ftr`

### Quiz 1

Lakukan proses impor data dan memeriksa struktur data  dengan format `feather`!

In [44]:
datagabung[datagabung.isna().any(axis=1)]  
datagabung.isna().sum()                 # menghitung data yang hilang disetiap kolom

Connote No            0
Order Id         100605
Origin                0
Dest Runsheet         0
Amount                0
Project               0
POD Status            0
Customer Name         0
Regional              0
OUTSTANDING           0
dtype: int64

In [ ]:
f4 = pd.read_excel('data/Mini_Project/ID_Kurir.xlsx')        # ~~~~~~~~~~~~~~~~ ID Kurir