# Mini Project

Adapun beberapa hal yang dipelajari pada program pelatihan Data Analitics With Python pertemuan ke-4 ini adalah sebagai berikut:

* Penggabungan data menggunakan 3 file dibawah ini: [(download data disini)](https://jne2-my.sharepoint.com/personal/ibnu_falah_jne_co_id/_layouts/15/onedrive.aspx?id=%2Fpersonal%2Fibnu%5Ffalah%5Fjne%5Fco%5Fid%2FDocuments%2FData%20for%20P%27%20Bakti&ga=1). 
    1. OTS ARAP UPDATE 30092022.XLSX; 
    2. OTS CURRENT 2022 UPDATE 30092022.XLSX; 
    3. OTS CURRENT 2022 UPDATE 30092022 PART 2.XLSX)
* Pemerikasaan Data Duplikat (Nomor connote apakah ada yang double)
* Pemerikasaan Anomaly.
* Memeriksa Data ots yang nilai nya minus
* Analisa nilai outstanding yang tinggi berdasarkan Regional – Cabang – Kurir.
* Data outstanding diurutkan berdasarkan nama customer – Dest Runsheet
* Outstanding berdasarkan Kurir / ID Kurir (data kurir dapat dilihat di file ID Kurir.XLSX)

## Impor Data

Dalam proses impor (baca) data dari Excel ke Python, beberapa hal yang harus diperhatikan adalah:

1. Pastikan Notebook Python (Koding) anda berada dalam satu folder
2. Buatlah folder baru untuk meyimpan data tersebut (opsional) 
3. Nama file excel tidak memuat spasi (gunakan underline `_` jika diperlukan)
4. impor packages/Library/Module yang diperlukan (dalam hal ini digunakan 'pandas')
5. Pastikan nama variabel (kolom) ada baris pertama

In [ ]:
import pandas as pd                                 # library untuk impor data
f1 = pd.read_excel('data/Mini_Project/OTS1.xlsx')   # impor file excel OTS1
f2 = pd.read_excel('data/Mini_Project/OTS2.xlsx')   # impor file excel OTS2
f3 = pd.read_excel('data/Mini_Project/OTS3.xlsx')   # impor file excel OTS3

In [6]:
f1.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,NaN,nan.1,nan.2,nan.3,nan.4,nan.5,nan.6,nan.7,nan.8,nan.9
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,18507467775,18410239928,9328538289,151801744,57127299,43290919,8926709524,1934763352,96003259,5695432121,387741819,812768973
2,CABANG,REGIONAL,Cut Off OTS,Years,Month,AMOUNT COD,OUTSTANDING PER CLOSING,VIA VA,DISPOSISI APPROVE,DISPUTE,LEBIH KURANG BAYAR,OUTSTANDING UPDATE,CASE,OTS KCU,OTS CABANG MITRA,TDK ADA KONFIRMASI,BLANK
3,BKI,BODETABEKCIL,2020,2020,1,4239219,4239219,1108019,3131200,0,0,0,0,0,0,0,0
4,BKI,BODETABEKCIL,PER 31 JAN 2021,2021,2,521300,521300,348300,0,173000,0,0,0,0,0,0,0