# Import Data

In [6]:
import pandas as pd              # library untuk impor data
f1 = pd.read_excel('data/Mini_Project/original/OTS1.xlsx')

In [7]:
f1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  396 non-null    object
 1   Unnamed: 1  396 non-null    object
 2   Unnamed: 2  396 non-null    object
 3   Unnamed: 3  396 non-null    object
 4   Unnamed: 4  396 non-null    object
 5   Unnamed: 5  397 non-null    object
 6   Unnamed: 6  397 non-null    object
 7   nan         397 non-null    object
 8   nan.1       397 non-null    object
 9   nan.2       397 non-null    object
 10  nan.3       397 non-null    object
 11  nan.4       397 non-null    object
 12  nan.5       397 non-null    object
 13  nan.6       397 non-null    object
 14  nan.7       397 non-null    object
 15  nan.8       397 non-null    object
 16  nan.9       397 non-null    object
dtypes: object(17)
memory usage: 53.0+ KB

In [10]:
import pandas as pd              # library untuk impor data

f1 = pd.read_excel('data/Mini_Project/OTS1.xlsx',skiprows=1) 
f2 = pd.read_excel('data/Mini_Project/OTS2.xlsx',header=1) 
f3 = pd.read_excel('data/Mini_Project/OTS3.xlsx',header=1)

In [12]:
pip install pyarrow

Requirement already satisfied: pyarrow in c:\users\user\anaconda3\lib\site-packages (9.0.0)
Requirement already satisfied: numpy>=1.16.6 in c:\users\user\anaconda3\lib\site-packages (from pyarrow) (1.21.5)
Note: you may need to restart the kernel to use updated packages.