# Mini Project

Adapun beberapa hal yang dipelajari pada program pelatihan Data Analitics With Python pertemuan ke-4 ini adalah sebagai berikut:

* Penggabungan data menggunakan 3 file dibawah ini: [(download data disini)](https://jne2-my.sharepoint.com/personal/ibnu_falah_jne_co_id/_layouts/15/onedrive.aspx?id=%2Fpersonal%2Fibnu%5Ffalah%5Fjne%5Fco%5Fid%2FDocuments%2FData%20for%20P%27%20Bakti&ga=1). 
    1. OTS ARAP UPDATE 30092022.XLSX; 
    2. OTS CURRENT 2022 UPDATE 30092022.XLSX; 
    3. OTS CURRENT 2022 UPDATE 30092022 PART 2.XLSX)
* Pemerikasaan Data Duplikat (Nomor connote apakah ada yang double)
* Pemerikasaan Anomaly.
* Memeriksa Data ots yang nilai nya minus
* Analisa nilai outstanding yang tinggi berdasarkan Regional – Cabang – Kurir.
* Data outstanding diurutkan berdasarkan nama customer – Dest Runsheet
* Outstanding berdasarkan Kurir / ID Kurir (data kurir dapat dilihat di file ID Kurir.XLSX)

## Impor Data

Dalam proses impor (baca) data dari Excel ke Python, beberapa hal yang harus diperhatikan adalah:

1. Pastikan Notebook Python (Koding) anda berada dalam satu folder
2. Buatlah folder baru untuk meyimpan data tersebut (opsional) 
3. Nama file excel tidak memuat spasi (gunakan underline `_` jika diperlukan)
4. impor packages/Library/Module yang diperlukan (dalam hal ini digunakan 'pandas')
5. Pastikan nama variabel (kolom) ada baris pertama

In [1]:
import pandas as pd                                          # library untuk impor data
f1 = pd.read_excel('data/Mini_Project/OTS1.xlsx',skiprows=1) # impor file excel OTS1
f2 = pd.read_excel('data/Mini_Project/OTS2.xlsx',skiprows=1) # ~~~~~~~~~~~~~~~~ OTS2
f3 = pd.read_excel('data/Mini_Project/OTS3.xlsx',skiprows=1) # ~~~~~~~~~~~~~~~~ OTS3

**Catatan:** 

1. Data pada OTS 1 tidak dapat terbaca dengan baik di Python. Langkah penyelesaian permasalahan ini adalah dengan cara `Copy-Paste` file tersebut ke file excel yang baru dan replace (Menimpa) file yang lama.
2. Misalnya jika anda ingin melewati baris pada indeks 0, 2 dan 5. Gunakan `skiprows=[0,2,5]`.
3. Pada proses diatas, anda juga dapat menghapus terlebih dahulu data baris pertama pada file Excel tersebut, jika tidak ingin menggunakan `skiprows=1`
4. Proses loading data diatas membutuhkan sekitar 3 menitan lebih (ukuran file 64 Mb)

## Konversi Format File

Saat mengerjakan proyek analitik data dengan jumlah pengamatan yang banyak, proses menyimpan dan memuat kembali data ke dalam memori menjadi lebih lambat, dan setiap kali anda melakukan restart pada kernel akan membutuhkan waktu tunggu yang cukup lama. Sehingga, sangat disarankan untuk menyimpan data dengan format terbaik. Menurut **Ilia Zaitsev** di dalam artikelnya pada laman [Towards Data Science](https://towardsdatascience.com/the-best-format-to-save-pandas-data-414dca023e0d) file EXCEL atau CSV atau format teks biasa lainnya bukanlah pilihan yang baik. Berikut ini deperlihatkan proses penyimpanan data dengan format `feather`:

In [16]:
# jangan lupa `pip isntall pyarrow`

f1.to_feather('data/Mini_Project/OTS1.ftr')                  # data frame f1 ke `OTS1.ftr`
f2.to_feather('data/Mini_Project/OTS2.ftr')                  # data frame f2 ke `OTS2.ftr`
f3.to_feather('data/Mini_Project/OTS2.ftr')                  # data frame f1 ke `OTS1.ftr`

## Gabungkan Data

In [21]:
ftr1=pd.read_feather('data/Mini_Project/OTS1.ftr')           # impor data 
ftr2=pd.read_feather('data/Mini_Project/OTS2.ftr')           # impor data 
ftr3=pd.read_feather('data/Mini_Project/OTS2.ftr')           # impor data 

all_data = pd.concat([ftr1,ftr2,ftr3],ignore_index=True)     # gabungkan semua data
all_data.info()                                              # informasi dasar

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 874441 entries, 0 to 874440
Data columns (total 12 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Connote No          874441 non-null  object
 1   Order Id            773836 non-null  object
 2   Origin              874441 non-null  object
 3   Dest Runsheet       874441 non-null  object
 4   Amount              874441 non-null  int64
 5   Project             874441 non-null  object
 6   POD Status          874441 non-null  object
 7   Customer Name       874441 non-null  object
 8   Regional            874441 non-null  object
 9   Kategori            218191 non-null  object
 10  OUTSTANDING UPDATE  218659 non-null  float64
 11  OUTSTANDING         655782 non-null  float64
dtypes: float64(2), int64(1), object(9)
memory usage: 80.1+ MB

**Catatan** Data hasil penggabungan diatas juga dapat disimpan dalam format `feather` sehingga untuk selanjutnya data ini yang akan di impor pada saat melakukan analisis.

In [22]:
all_data.to_feather('data/Mini_Project/all_data.ftr')        # data frame f1 ke `OTS1.ftr`

In [29]:
test = pd.read_feather('data/Mini_Project/all_data.ftr')     # impor data
all_data.info()                                              # informasi dasar

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 874441 entries, 0 to 874440
Data columns (total 12 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Connote No          874441 non-null  object
 1   Order Id            773836 non-null  object
 2   Origin              874441 non-null  object
 3   Dest Runsheet       874441 non-null  object
 4   Amount              874441 non-null  int64
 5   Project             874441 non-null  object
 6   POD Status          874441 non-null  object
 7   Customer Name       874441 non-null  object
 8   Regional            874441 non-null  object
 9   Kategori            218191 non-null  object
 10  OUTSTANDING UPDATE  218659 non-null  float64
 11  OUTSTANDING         655782 non-null  float64
dtypes: float64(2), int64(1), object(9)
memory usage: 80.1+ MB

## Deskripsi Data  

Berikut ini adalah deskripsi dataset yang sedang digunakan:

* `Connote` : No Nomor yang diberikan oleh Seller/Penjual berguna untuk melacak sejauh mana proses pengiriman
* `Order Id` : No Resi Pengiriman          
* `Origin` :  Asal barang yang akan dikirimkan           
* `Dest Runsheet` : Tujuan pengiriman      
* `Amount` : Biaya Pengiriman           
* `Project` : Jenis Project          
* `POD Status` :  Process On delivery Detail adalah Paket atau barang sedang atau baru saja dikirimkan oleh kurir.   
* `Customer Name`: Nama Pelanggan       
* `Regional` : Regional          
* `Kategori` :  Kategori           
* `OUTSTANDING` : Biaya pengiriman yang terverifikasi