In [2]:
# Membuat variable grade
staf = 1
head = 2
dept_head = 3

# Membuat variable dengan metode input()
grade_input = int (input('Grade: '))
masa_kerja_input = float (input('Masa Kerja: '))

# Buat rulesnya
if grade_input == staf:
    if masa_kerja_input <=2:
        salary = 3.5
        print('Salary yang diberikan untuk grade', grade_input, 'dengan masa kerja selama', str(masa_kerja_input), ' th adalah ', str(salary) + ' juta')
    else:
        salary = 4
        print('Salary yang diberikan untuk grade', grade_input, 'dengan masa kerja selama', str(masa_kerja_input), ' th adalah ', str(salary) + ' juta')
        
elif grade_input == head:
    if masa_kerja_input <=3:
        salary = 4.5
        print('Salary yang diberikan untuk grade', grade_input, 'dengan masa kerja selama', str(masa_kerja_input), ' th adalah ', str(salary) + ' juta')
    else:
        salary = 5
        print('Salary yang diberikan untuk grade', grade_input, 'dengan masa kerja selama', str(masa_kerja_input), ' th adalah ', str(salary) + ' juta')
        
else:
    if masa_kerja_input <=5:
        salary = 10
        print('Salary yang diberikan untuk grade', grade_input, 'dengan masa kerja selama', str(masa_kerja_input), ' th adalah ', str(salary) + ' juta')
    else:
        salary = 15
        print('Salary yang diberikan untuk grade', grade_input, 'dengan masa kerja selama', str(masa_kerja_input), ' th adalah ', str(salary) + ' juta')

Grade: 3
Masa Kerja: 10
Salary yang diberikan untuk grade 3 dengan masa kerja selama 10.0  th adalah  15 juta